# Prerequisites
aws-cli.tar.gz
global-workflow-cloud.tar.gz
lmod.tar.gz
spack-stack.tar.gz
global-workflow-cloud
spack-stack
intel-hpc-2024.2-mpi-2021.13-ss192/
ubuntu22.04-intel-ufs-env-v1.9.2.img
*.sif
